node_modules/
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/gen/

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ninja_log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
